@page "/projects"

<PageTitle>Projects</PageTitle>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<ul>
    <div class="title">Project Board</div>
    <div class="container">
        @foreach (var project in projects)
        {
            @if (project.getProjectStatus().Equals("DONE")) {
                <div class="projectPanelGood">
                <div>
                    <span class="projectName">@project.getProjectDisplayName()</span>
                </div>

                <div class="unaffect">
                    <span class="ownerImage"><img src="Images/DefaultUser.png" alt="logo"></span>

                    @if (project.getProjectStatus().Equals("DONE")) {
                        <span class="progressTag"><img src="Images/Tag_Done.png" alt="logo"></span>
                    } else if (project.getProjectStatus().Equals("INPROGRESS")) {
                        <span class="progressTag"><img src="Images/Tag_In_Progress.png" alt="logo"></span>
                    } else if (project.getProjectStatus().Equals("MINORPROGRESS")) {
                        <span class="progressTag"><img src="Images/Tag_Minor_Progress.png" alt="logo"></span>
                    }

                    @if (project.dueDate < DateTime.Now) {

                        <span class="dueDate"><img src="Images/Calendar_Urgent.png" alt="logo"></span>
                    } else if (project.dueDate > DateTime.Now) {

                        <span class="dueDate"><img src="Images/Calendar_Good.png" alt="logo"></span>
                    }

                    
                    <span class="projectDate">@project.getDueDate()</span>
                    <a href="home">
                        <span class="addProgressButton"><img src="Images/Add_Progress_Button.png" alt="logo"></span>
                    </a>
                </div>
                <div class="progress">
                    <div class="progressFill"></div>
                    <span class="progressBar"></span>
                </div>
            </div>
            } else if (project.getProjectStatus().Equals("INPROGRESS")) {
                <div class="projectPanelWarning">
                <div>
                    <span class="projectName">@project.getProjectDisplayName()</span>
                </div>

                <div class="unaffect">
                    <span class="ownerImage"><img src="Images/DefaultUser.png" alt="logo"></span>

                    @if (project.getProjectStatus().Equals("DONE")) {
                        <span class="progressTag"><img src="Images/Tag_Done.png" alt="logo"></span>
                    } else if (project.getProjectStatus().Equals("INPROGRESS")) {
                        <span class="progressTag"><img src="Images/Tag_In_Progress.png" alt="logo"></span>
                    } else if (project.getProjectStatus().Equals("MINORPROGRESS")) {
                        <span class="progressTag"><img src="Images/Tag_Minor_Progress.png" alt="logo"></span>
                    }

                    @if (project.dueDate < DateTime.Now) {

                        <span class="dueDate"><img src="Images/Calendar_Urgent.png" alt="logo"></span>
                    } else if (project.dueDate > DateTime.Now) {

                        <span class="dueDate"><img src="Images/Calendar_Good.png" alt="logo"></span>
                    }

                    
                    <span class="projectDate">@project.getDueDate()</span>
                    <a href="home">
                        <span class="addProgressButton"><img src="Images/Add_Progress_Button.png" alt="logo"></span>
                    </a>
                </div>
                <div class="progress">
                    <div class="progressFill"></div>
                    <span class="progressBar"></span>
                </div>
            </div>
            } else if (project.getProjectStatus().Equals("MINORPROGRESS")) {
                <div class="projectPanelUrgent">
                <div>
                    <span class="projectName">@project.getProjectDisplayName()</span>
                </div>

                <div class="unaffect">
                    <span class="ownerImage"><img src="Images/DefaultUser.png" alt="logo"></span>

                    @if (project.getProjectStatus().Equals("DONE")) {
                        <span class="progressTag"><img src="Images/Tag_Done.png" alt="logo"></span>
                    } else if (project.getProjectStatus().Equals("INPROGRESS")) {
                        <span class="progressTag"><img src="Images/Tag_In_Progress.png" alt="logo"></span>
                    } else if (project.getProjectStatus().Equals("MINORPROGRESS")) {
                        <span class="progressTag"><img src="Images/Tag_Minor_Progress.png" alt="logo"></span>
                    }

                    @if (project.dueDate < DateTime.Now) {

                        <span class="dueDate"><img src="Images/Calendar_Urgent.png" alt="logo"></span>
                    } else if (project.dueDate > DateTime.Now) {

                        <span class="dueDate"><img src="Images/Calendar_Good.png" alt="logo"></span>
                    }

                    
                    <span class="projectDate">@project.getDueDate()</span>
                    <a href="home">
                        <span class="addProgressButton"><img src="Images/Add_Progress_Button.png" alt="logo"></span>
                    </a>
                </div>
                <div class="progress">
                    <div class="progressFill"></div>
                    <span class="progressBar"></span>
                </div>
            </div>
            }
        }

        <div class="projectStatus">
                <span class="statusTitle">Project Status</span>
                <span class="statusBackground"></span>
        </div>
   </div>
</ul>

@code {

	private List<Project> projects = ProjectDAO.getProjects();
}
